**PERSONALIZED YOUTUBE SEARCH ALGORITHM**

Con questo progetto prendo dimestichezza o mi meglio impraticisco con:
* YouTube API
* Google Colab
* libreria Requests
* formato json
* libreria pandas

To-do list:
* salvare risultati in un foglio html decentemente formattato
* aggiungere selezione lingue
* inserire feature: (views/iscritti)
* trovare una buona feature per ordinare i risultati della ricerca (meglio una formula tra pi√π feats)

In [42]:
import requests
import pandas as pd
import time

# Gettig the data from the API

The API supports two request parameters that enable you to identify the resource properties that should be included in API responses.

* The **part** parameter identifies groups of properties that should be returned for a resource.
* The **fields** parameter filters the API response to only return specific properties within the requested resource parts.

In [98]:
key = "XXX";
ricerca_str = "data+science"
#parameters = "q=" + ricerca_str + "&fields=items(id)&maxResults=500&key=" + key
max_results = '50'
max_results_test = '40'
parameters = "&key=" + key + "&q=" + ricerca_str + "&maxResults=" + max_results
search_url = "https://www.googleapis.com/youtube/v3/search?" + parameters
print(search_url)

https://www.googleapis.com/youtube/v3/search?&key=AIzaSyC-VDWMvkPtYUZt3uQwHTWqY0sZXK4SPKk&q=data+science&maxResults=50

In [104]:
video_IDs = []
pageToken = ""
num_of_pages = 2
num_of_pages_test = 1
#while True:
for i in range(num_of_pages):
  url = search_url + "&pageToken=" + pageToken
  response = requests.get(url).json()

#  time.sleep(1) #give it a second before starting the for loop

  for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
      video_IDs.append(video['id']['videoId'])

  try:
    if response['nextPageToken'] != None:
      pageToken = response['nextPageToken']
  except:
    break

video_IDs[:10]

['X3paOmcrTjQ',
 'ua-CiDNNj30',
 'xC-c7E5PK0Y',
 '5Q0gB7imNOo',
 '-ETQ97mXXF0',
 'uswU1s3M2VE',
 'O9nf1CqjGzI',
 'lkMh1g41drk',
 't8JRidxZCXU',
 'iPdO9MwdcLE']

In [110]:
len(video_IDs)

98

In [100]:
snippet_param = "snippet(title,publishedAt,defaultAudioLanguage,thumbnails(default(url)))"
statistics_param = "statistics(viewCount,likeCount)"
fields_param = "fields=items(" + snippet_param + "," + statistics_param + ")"

part_param = "part=snippet,statistics"

parameters = "id={}&" + part_param + "&" + fields_param + "&key=" + key

In [101]:
video_url = "https://www.googleapis.com/youtube/v3/videos?" + parameters
videos = []
for id in video_IDs:
  response = requests.get(video_url.format(id)).json()
  response['id'] = id
  videos.append(response)

In [102]:
videos[:3]

[{'id': 'X3paOmcrTjQ',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2018-12-04T14:30:01Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/X3paOmcrTjQ/default.jpg'}},
     'title': 'Data Science In 5 Minutes | Data Science For Beginners | What Is Data Science? | Simplilearn'},
    'statistics': {'likeCount': '38193', 'viewCount': '2582424'}}]},
 {'id': 'ua-CiDNNj30',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2019-05-30T12:48:19Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/ua-CiDNNj30/default.jpg'}},
     'title': 'Learn Data Science Tutorial - Full Course for Beginners'},
    'statistics': {'likeCount': '47087', 'viewCount': '1936569'}}]},
 {'id': 'xC-c7E5PK0Y',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2018-06-23T01:51:50Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/xC-c7E5PK0Y/default.jpg'}},
     'title': 'What REALLY is Data Science? Told by a Data Scientist'},
    'statistics': {'likeCount': '108326', 'viewCount': '2780409'}}]}]

# Fitting the data into a DataFrame

Ora converto i dati JSON in un DataFrame pandas

In [105]:
def getDataVideo(video):
  items = video['items'][0]
  snippet = items['snippet']
  stats = items['statistics']

  id = video['id']
  url = "https://www.youtube.com/watch?v=" + id
  title = snippet['title']
  thumbnail = "https://img.youtube.com/vi/" + id + "/0.jpg"
  date = snippet['publishedAt']
  views = int(stats['viewCount'])
  try:
    language = getFormattedLanguage(snippet['defaultAudioLanguage'])
  except:
    language = ''
  try:
    likes = int(stats['likeCount'])
  except:
    likes = 0

  likes_views_ratio = (likes/views)*100

  return {"Id":id, "URL":url, "Title":title, "Language":language, "Views":views, "Likes":likes, "Likes/Views Ratio":likes_views_ratio, "Date":date, "Thumbnail":thumbnail}

In [106]:
def getFormattedLanguage(lang_code):
  english = ['en', 'en-CA', 'en-GB', 'en-IN', 'en-US']
  spanish = ['es', 'es-IN', 'es-419']
  italian = ['it']

  if lang_code in english:
    language = "English"
  elif lang_code in spanish:
    language = "Spanish"
  elif lang_code in italian:
    language = "Italian"
  else:
    language = lang_code
  
  return language

In [107]:
df_header = ["Id", "URL", "Title", "Language", "Views", "Likes", "Likes/Views Ratio", "Date", "Thumbnail"]
df = pd.DataFrame(columns=df_header)

languages = ['English', 'Italian', 'Spanish']
video_count=0
for video in videos:
  video_count += 1
  record = getDataVideo(video)
  
  if record['Language'] in languages:
    df = df.append(record, ignore_index=True)

In [108]:
print(video_count)
df.info()

98
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 46 non-null     object
 1   URL                46 non-null     object
 2   Title              46 non-null     object
 3   Language           46 non-null     object
 4   Views              46 non-null     object
 5   Likes              46 non-null     object
 6   Likes/Views Ratio  46 non-null     float64
 7   Date               46 non-null     object
 8   Thumbnail          46 non-null     object
dtypes: float64(1), object(8)
memory usage: 3.4+ KB

In [109]:
numerical_feats = ['Views', 'Likes', 'Likes/Views Ratio']
df[numerical_feats] = df[numerical_feats].astype('float64')

print("Duplicates: {}".format(df.duplicated().sum()))
df = df.drop_duplicates(keep='first')

df.info()

Duplicates: 0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 46 non-null     object
 1   URL                46 non-null     object
 2   Title              46 non-null     object
 3   Language           46 non-null     object
 4   Views              46 non-null     float64
 5   Likes              46 non-null     float64
 6   Likes/Views Ratio  46 non-null     float64
 7   Date               46 non-null     object
 8   Thumbnail          46 non-null     object
dtypes: float64(3), object(6)
memory usage: 3.6+ KB

In [111]:
df.sort_values(by=['Likes/Views Ratio'], ascending=False, inplace=True)
df.head()

,Id,URL,Title,Language,Views,Likes,Likes/Views Ratio,Date,Thumbnail
14,V2aIDbpESyU,https://www.youtube.com/watch?v=V2aIDbpESyU,Data Science Learning Path. Learn for free wit...,English,995.0,181.0,18.190955,2022-04-14T14:54:39Z,https://img.youtube.com/vi/V2aIDbpESyU/0.jpg
3,5Q0gB7imNOo,https://www.youtube.com/watch?v=5Q0gB7imNOo,PROJECTS that landed Data Jobs for my Subscribers,English,9194.0,793.0,8.625190,2022-04-13T09:00:02Z,https://img.youtube.com/vi/5Q0gB7imNOo/0.jpg
7,lkMh1g41drk,https://www.youtube.com/watch?v=lkMh1g41drk,"Data Science Career, Work-life Balance, Study:...",English,1334.0,109.0,8.170915,2022-04-14T00:00:41Z,https://img.youtube.com/vi/lkMh1g41drk/0.jpg
29,OVuxcSx0ohY,https://www.youtube.com/watch?v=OVuxcSx0ohY,C√≥mo Estudiar data science de forma AUTODIDACTA,Spanish,23595.0,1856.0,7.866073,2021-11-07T14:55:59Z,https://img.youtube.com/vi/OVuxcSx0ohY/0.jpg
30,PW3qJSFEgVQ,https://www.youtube.com/watch?v=PW3qJSFEgVQ,Ternyata Punya Banyak Sertifikat Data Science ...,English,168.0,13.0,7.738095,2022-04-14T12:00:09Z,https://img.youtube.com/vi/PW3qJSFEgVQ/0.jpg

# Final search result visualization
Inserisco i risultati in un foglio html.

In [113]:
path = "yt_algorithm.html"
fp = open(path,"w")
fp.write("<html>\n<body style=\"background-color:black;\">")
fp.write("<font color=\"#fffffe\"/>\n<center>\n")

df1 = df.reset_index()  # make sure indexes pair with number of rows
for index, row in df1.iterrows():
    title = row['Title']
    url = row['URL']
    image_path = row['Thumbnail']

    fp.write("\n<hr>\n<h2><br>{}) {}</br></h2>".format(index+1,title))
    fp.write("\n<div>")
    
    a_tag = "\n\t<div>\n\t<a href='{}'>\n\t\t<img src='{}' width='x%'/>\n\t</a>\n\t</div>"
    fp.write(a_tag.format(url,image_path))
    
    fp.write("\n</div>\n")
      
fp.close()