<a href="https://colab.research.google.com/github/00Hammers/YouTube-Search-Algorithm/blob/main/YT_Search_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Con questo progetto prendo dimestichezza o mi meglio impraticisco con:
* YouTube API
* Google Colab
* libreria Requests
* formato json
* libreria pandas

To-do list:
* memorizzare l'url del video, ovviamente
* salvare risultati in un foglio html decentemente formattato
* inserire numero iscritti tra le feature
* trovare una buona feature per ordinare i risultati della ricerca (meglio una formula tra più feats)
* prendere molti più risultati usando altre pagine

In [ ]:
import requests
import pandas as pd
import time

The API supports two request parameters that enable you to identify the resource properties that should be included in API responses.

* The **part** parameter identifies groups of properties that should be returned for a resource.
* The **fields** parameter filters the API response to only return specific properties within the requested resource parts.

In [ ]:
key = "AIzaSyC-VDWMvkPtYUZt3uQwHTWqY0sZXK4SPKk";
ricerca_str = "data+science"
#parameters = "q=" + ricerca_str + "&fields=items(id)&maxResults=500&key=" + key
parameters = "&key=" + key + "&q=" + ricerca_str + "&maxResults=100"
search_url = "https://www.googleapis.com/youtube/v3/search?" + parameters
print(search_url)

https://www.googleapis.com/youtube/v3/search?q=data+science&fields=items(id)&maxResults=50&key=AIzaSyC-VDWMvkPtYUZt3uQwHTWqY0sZXK4SPKk

In [ ]:
response = requests.get(search_url).json()
videos_json = response['items']
videos_json[:3]

[{'id': {'kind': 'youtube#video', 'videoId': 'xC-c7E5PK0Y'}},
 {'id': {'kind': 'youtube#video', 'videoId': 'ua-CiDNNj30'}},
 {'id': {'kind': 'youtube#video', 'videoId': 'X3paOmcrTjQ'}},
 {'id': {'kind': 'youtube#video', 'videoId': '-ETQ97mXXF0'}},
 {'id': {'kind': 'youtube#video', 'videoId': 'uswU1s3M2VE'}}]

In [ ]:
video_IDs = []
pageToken = ""
while True:
  url = search_url + "&pageToken=" + pageToken
  response = requests.get(url).json()

  time.sleep(1) #give it a second before starting the for loop

  for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
      video_IDs.append(video['id']['videoId'])

  try:
    if response['nextPageToken'] != None:
      pageToken = response['nextPageToken']
  except:
    break

video_IDs

['xC-c7E5PK0Y', 'ua-CiDNNj30', 'X3paOmcrTjQ', '-ETQ97mXXF0', 'uswU1s3M2VE']

In [ ]:
snippet_param = "snippet(title,publishedAt,thumbnails(default(url)))"
statistics_param = "statistics(viewCount,likeCount)"
fields_param = "fields=items(" + snippet_param + "," + statistics_param + ")"

part_param = "part=snippet,statistics"

parameters = "id={}&" + part_param + "&" + fields_param + "&key=" + key

In [ ]:
video_url = "https://www.googleapis.com/youtube/v3/videos?" + parameters
videos = []
for id in video_IDs:
  response = requests.get(video_url.format(id)).json()
  response['id'] = id
  videos.append(response)

videos[0]

{'id': 'xC-c7E5PK0Y',
 'items': [{'snippet': {'publishedAt': '2018-06-23T01:51:50Z',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/xC-c7E5PK0Y/default.jpg'}},
    'title': 'What REALLY is Data Science? Told by a Data Scientist'},
   'statistics': {'likeCount': '98642', 'viewCount': '2526489'}}]}

Ora converto i dati JSON in un DataFrame pandas

In [ ]:
def getDataVideo(video):
  items = video['items'][0]
  snippet = items['snippet']
  stats = items['statistics']

  id = video['id']
  title = snippet['title']
  thumbnail = snippet['thumbnails']['default']['url']
  date = snippet['publishedAt']
  views = stats['viewCount']
  likes = stats['likeCount']

  likes_views_ratio = (int(likes)/int(views))*100

  return {"Id":id, "Title":title, "Views":views, "Likes":likes, "Likes/Views Ratio":likes_views_ratio, "Date":date, "Thumbnail":thumbnail}

In [ ]:
df_header = ["Id", "Title", "Views", "Likes", "Likes/Views Ratio", "Date", "Thumbnail"]
df = pd.DataFrame(columns=df_header)

languages = ['en', 'en-IN' 'en-US', 'es', 'es-IN', 'es-419', 'it']

for video in videos:
  record = getDataVideo(video)
  try:
    lang = video['items'][0]['snippet']['defaultAudioLanguage']
    #lang = record['Language']
    #print(lang)
    for language in languages:
      if lang == language:
        df = df.append(record, ignore_index=True)
  except:
    df.append(record, ignore_index=True) # if the language is not specified, keep the video anyway

df.head()

            Id  ...                                       Thumbnail
0  xC-c7E5PK0Y  ...  https://i.ytimg.com/vi/xC-c7E5PK0Y/default.jpg
1  ua-CiDNNj30  ...  https://i.ytimg.com/vi/ua-CiDNNj30/default.jpg
2  X3paOmcrTjQ  ...  https://i.ytimg.com/vi/X3paOmcrTjQ/default.jpg
3  -ETQ97mXXF0  ...  https://i.ytimg.com/vi/-ETQ97mXXF0/default.jpg
4  uswU1s3M2VE  ...  https://i.ytimg.com/vi/uswU1s3M2VE/default.jpg

[5 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 47 non-null     object
 1   Title              47 non-null     object
 2   Views              47 non-null     object
 3   Likes              47 non-null     object
 4   Likes/Views Ratio  47 non-null     float64
 5   Date               47 non-null     object
 6   Thumbnail          47 non-null     object
dtypes: float64(1), object(6)
memory usage: 2.7+ KB

In [ ]:
numerical_feats = ['Views', 'Likes', 'Likes/Views Ratio']
df[numerical_feats] = df[numerical_feats].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 47 non-null     object
 1   Title              47 non-null     object
 2   Views              47 non-null     float64
 3   Likes              47 non-null     float64
 4   Likes/Views Ratio  47 non-null     float64
 5   Date               47 non-null     object
 6   Thumbnail          47 non-null     object
dtypes: float64(3), object(4)
memory usage: 2.7+ KB

In [ ]:
df.sort_values(by=['Likes/Views Ratio'], ascending=False, inplace=True)
df.head()

             Id  ...                                       Thumbnail
40  5b9Z8toVaAU  ...  https://i.ytimg.com/vi/5b9Z8toVaAU/default.jpg
15  jtn-hRJjl68  ...  https://i.ytimg.com/vi/jtn-hRJjl68/default.jpg
36  HDVZKT7eKiU  ...  https://i.ytimg.com/vi/HDVZKT7eKiU/default.jpg
23  eJtHzkMy_1k  ...  https://i.ytimg.com/vi/eJtHzkMy_1k/default.jpg
42  2EWPMOZLvoQ  ...  https://i.ytimg.com/vi/2EWPMOZLvoQ/default.jpg

[5 rows x 7 columns]